.form-field-wrapper.row.consumption-block.equipment_maintenances_section.display-none
  .subheading-field.sbh-with-switch
    = render 'residential/properties/modals/add_details/other_equipments_title'
  .energy-managemnets{style: 'padding: 0'}
    %p
      = t('energy_checklist.frequency_for_maintenance')
  .form-group.installed-blocks-wrapper#other_consumption_data
  .table-responsive.checklist-field#other_consumption_data_list_view