.terms-condition.text-center
  %p
    = t('devise.you_agree_accept')
    = link_to t('devise.terms_of_services'), terms_and_conditions_path
    \&amp;
    = link_to t('devise.privacy_policy'), privacy_policy_path