.login-field
  %ul.nav.nav-pills{role: "tablist"}
    %li.nav-item
      = link_to t('menu_item.auditor'), '#home', class: 'nav-link active', "data-toggle" => "pill"
    %li.nav-item
      = link_to t('menu_item.consumer'), '#menu1', class: 'nav-link active', "data-toggle" => "pill"
    %li.nav-item
      = link_to t('menu_item.energy_provider'), '#menu1', class: 'nav-link active', "data-toggle" => "pill"