#menu1.container.tab-pane.fade
  %br/
  %h3
    = t('devise.menu1')
  %p
    = t('devise.menu1_para')
  #menu2.container.tab-pane.fade
    %br/
    %h3
      = t('devise.menu2')
    %p
      = t('devise.menu2_para')