.form-field-wrapper.consumption-block.pb-0.pb-xs-40
  .subheading-field.sbh-with-switch.width-100p
    = render 'residential/properties/modals/add_details/monthly_consumption_title'
  .form-group.installed-blocks-wrapper#energy_consumption_data
  .table-responsive.checklist-field#energy_consumption_data_list_view  
