.nobreak
%h2.table-content 4. Conclusion
.recomendation
  %p The report shows that the individual recommended approach provides the optimum results in providing the best way to make the building and facility energy efficient, including cost savings.
  %h3.table-content Brief Overall summary of analysis
  #energySavingBreakdown
  %p
    %u.img-align{style: 'font-style: italic'}
      Total estimated savings of
      %b #{@stats.total_bill_saving}%
      of the current bill
  #annualProjectSaving{style: "width: 1000px"}
  %p
    %u.img-align{style: 'font-style: italic'}
      A breakdown on the savings on each individual implementation compared with the current bill.
  %p
    %u.img-align
      By implementing the changes, you will have saved is
      %b #{@stats.carbon_offset} Kg of CO²
    %br
    %br
    %br
    %br
    The savings are only estimated as the replacements are up to the occupant’s preference. There are multitude of brands that have similar specifications which the occupant can choose from.
    %br
    %br
    Our basic recommendation is for the minimum specification which is at least a 4-star rating for the appliances and WELS 2 for taps and cisterns.
