%main.middle-profile-block{style: 'padding-top: 52px'}
  .ledger-wrapper
    = render 'main_tabs'
    .ledger-inner-details
      = render 'secondary_tab'
      .tab-content
        #general.tab-pane.active
          .row.margin-zero
            .col-md-4.col-sm-4.col-xs-12
              .ledger-conetnt-field#transaction_list
            .col-md-8.col-sm-8.col-xs-12
              .info-transaction#transaction-info

= javascript_pack_tag 'javascripts/properties/ledgers'

:javascript
  window.serverData = {}
  window.serverData['property_id'] = #{params[:property_id]}