# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU

default: &default
  STORAGE: fog #file

  # SMTP
  DEFAULT_COUNTRY: 'Singapore'
  SMTP_ADDRESS: ''
  SMTP_PORT: ''
  SMTP_DOMAIN: ''
  SMTP_USERNAME: ''
  SMTP_PASSWORD: ''
  MAILER_SENDER: ''
  MAILER_HOST: 'http://localhost:3000'

  # Admin account
  ADMIN_EMAIL: ''
  ADMIN_PASSWORD: ''

  # DATABASE
  DB_NAME: 'gaedkeeper_development2'
  DB_USERNAME: 'postgres'
  DB_PASSWORD: 'postgres'
  DB_HOST: 'localhost'
  DB_PORT: '5432'

  # FOG Configurations
  UPLOADER_STORAGE_PATH: 'fog'
  FOG_PROVIDER: fog/google
  PROVIDER: Google
  ACCESS_KEY: ''
  SECRET_KEY: ''
  AWS_REGION: ''
  FOG_HOST: ''
  FOG_ENDPOINT: ''
  FOG_DIR: 'gaedkeeper-bucket'
  FOG_PUBLIC: ''
  FOG_MAX_AGE: ''
  GOOGLE_PROJECT: 'gaed-keeper'
  GOOGLE_CLIENT_EMAIL: ''
  GOOGLE_JSON_KEY_LOCATION: ''


  REDIS_DB_NAME: ''
  REDIS_PASSWORD: ''
  NODE_BASE_URL: 'http://localhost:3001'
  REDIS_URL: 'redis://127.0.0.1:6379'

test:
  <<: *default

development:
  <<: *default
  
staging:
  <<: *default
