.container-fluid
  %h3 Top3 Fixed Plans:
  .row
    .col-sm-4
      .card
        .card-body
          %h5.card-title Plan1 Logo.jpg
          %p.card-text Company1 Name
          %a.btn.btn-primary{:href => "#"} Price1
    .col-sm-4
      .card
        .card-body
          %h5.card-title Plan2 Logo.jpg
          %p.card-text Company2 Name
          %a.btn.btn-primary{:href => "#"} Price2
    .col-sm-4
      .card
        .card-body
          %h5.card-title Plan3 Logo.jpg
          %p.card-text Company3 Name
          %a.btn.btn-primary{:href => "#"} Price3