.copyright
  %div
    .left-footer-field
      %h3
        = t('footer.copyright')
    .right-footer-field
      %ul
        %li
          = link_to t('footer.privacy_policy'), privacy_policy_path
        %li |
        %li
          = link_to t('footer.terms_and_conditions'), terms_and_conditions_path
